{% extends "base.html" %}

{% block headcontent %}
<style>td {padding:0px;}</style>
{% endblock headcontent %}

{% block bodycontent %}
<h1>Enter Game Info</h1>
<form class="pure-form">
  <fieldset>
    <label for="gameSelect">Select Game</label>
    <select id="gameSelect">
      {% for game in schedule %}
      <option>{{ game[2] }} {{ game[0] }} {{ game[1] }}</option>
      {% endfor %}
    </select>
    <label for="gameOurScore">CMU Score</label>
    <input id="gameOurScore" type="number"></input>
    <label for="gameTheirScore">Opponent Score</label>
    <input id="gameTheirScore" type="number"></input>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Pos</th>
          <th>PA</th>
          <th>AB</th>
          <th>R</th>
          <th>H</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>BB</th>
          <th>SO</th>
          <th>SB</th>
          <th>CS</th>
          <th>HBP</th>
          <th>LOB</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding:0px;">
            <select id="gamePlayerName">
            <option>None</option>
            {% for player in players %}<option value="{{ player[1] }}">{{ player[0] }}</option>{% endfor %}
            </select>
          </td>
          <td style="padding:0px;"><input id="pos" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="PA" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="AB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="R" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="H" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="2B" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="3B" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="HR" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="RBI" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="BB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="SO" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="SB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="CS" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="HBP" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="LOB" type="number" style="width:100%"></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <button type="submit" class="pure-button pure-input pure-button-primary">Submit</button>
</form>
{% endblock bodycontent %}
