{% extends "base.html" %}

{% block bodycontent %}
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis rutrum erat, nec pellentesque tellus imperdiet sed. Duis dictum neque dapibus lectus sodales commodo. Duis porta tortor dui, sit amet pretium augue iaculis ac. Proin non mi non est sagittis accumsan sed ut nisl. Quisque volutpat ac nisl volutpat consectetur. Nulla eget metus sagittis, laoreet ante et, bibendum nisl. Nulla tempor augue sit amet nunc feugiat ultricies vitae ac urna. Mauris ut gravida leo. Quisque consectetur porttitor ullamcorper. Phasellus quis magna interdum, tincidunt tortor in, molestie libero. Phasellus viverra sit amet leo et lobortis. Sed nec ultrices metus. Ut turpis sem, auctor vitae fermentum sit amet, iaculis ut diam.</p>
{% endblock bodycontent %}
