{% extends "base.html" %}

{% block bodycontent %}
<h1>Roster</h1>
<table class="pure-table" style="background-color:white; color:black; width:100%">
  <tbody>
    {% for player in players %}
    <tr>
      <td>
        <div class="pure-g">
          <div class="pure-u-1-5">
            <img src="{{ player[1] }}" style="width:100%"></img>
          </div>
          <div class="pure-u-4-5">
            <h2 style="position:relative; top:-20px; left:10px; color:#990000">{{ player[2] }} {{ player[0] }}</h2>
            <h3 style="position:relative; top:-35px; left:45px;">{{ player[4] }} {{ player[3] }}</h3>
            <p style="position:relative; top:-45px; left:15px;">Bats: {{ player[5] }}&nbsp&nbspThrows: {{ player[6] }}</p>
            <p style="position:relative; top:-55px; left:15px;">Height: {{ player[7] }}&nbsp&nbspWeight: {{ player[8] }}</p>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    <!-- tr>
      <td>
            <img src="http://imgur.com/siYi27Y.jpg" style="position: relative; width:20%; float:left; padding-right:10px;"></img>
            <h2 style="position:relative; top:-20px; left:10px; color:#990000">Claudio Reilsono</h2>
            <h3 style="position:relative; top:-35px; left:45px;">Coach</h3>
            <p>Claudio Reilsono is the General Manager/ Professional Baseball Scout for the Global Scouting Bureau as well as the Head Baseball Coach at Carnegie Mellon University. Claudio started his career in 1983 at the age of 18 as the Assistant Baseball Coach at his Alma Matter Quaker Valley. In 1988 Reilsono was named Head Coach at QV. He moved on to be the Assistant Coach at Penn State Beaver in 1989. In 1990 he was named Head Coach at Penn State Beaver and his team won a Collegiate Championship. Claudio was also assistant at Community College of Beaver County, Quigley Catholic High School and Duquesne University as well as the Head Coach at Community College of Beaver County.</p>
  <p>In 2005 Claudio was named Head Coach at Carnegie Mellon University and under his tenure thecteam has had its most successful seasons. In 2015 CMU won its Conference Championship. The combined 2014-2015 Spring/Fall seasons record of 24-11.</p>
  <p>As a Professional Scout, Claudio has assisted in professional player signings all over the worldcand was named General Manager of the Global Scouting Bureau in 2002.</p>
  <p>Claudio is also a Professional Hitting Instructor, conducts his own Hitting camps in several States, produced a Hitting video in 2003, is a hired instructor at many baseball camps and is the Lead Instructor for the CRONS Brand baseball Camps.</p>
  <p>Claudio is the Co­Host of “ Steel City Sports” TV show and the Host of “ Ring Talk”, Pittsburgh's only TV Boxing Show. He also serves as a color commentator in both baseball and boxing. Served as an radio analyst for Major League Baseball Post Season Show on WMBA Radio.</p>
  <p>Reilsono has also been a writer for Boxing publications such as RealBoxing.com ( RI/ Mass.) Sports Review Magazine ( RI/Mass.) Kids Sports Magazine (Pittsburgh) and Pittsburgh Sports Report. From 2010-11 he was a co owner of the MMA Promotion Company Paramount Fighting.</p>
  <p>A documentary on Claudio will be aired in 2016. Reilsono also works with ManRay Media (London based Company) on Movie and Documentary development. In 2016 he will be Co Starring in a sports based TV reality Show. He is also a representative for the CRONS apparel Brand as well as the Come Ready Nutrition bar.</p>
  <p>In 2011 Claudio was voted in to the Carnegie Mellon University Baseball Hall of Fame and was given the “ Willie Stargell MVP Lifetime Achievement Award”. 2014 was voted in to the “ Steel City Sports” Hall of Fame.</p>
  <p>Claudio's parents were both born in Calabria Italy.. Father Olindo, Falerna, and Mother Ida Nocera</p>
  <p>He is married to Lynda ( 18 years) and the have one daughter Ida ( 15). They reside in Sewickley, PA.</p>
      </td>
    </tr -->
  </tbody>
</table>
{% endblock bodycontent %}
