{% extends "base.html" %}

{% block headcontent %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<style>td {padding:0px;}</style>
{% endblock headcontent %}

{% block bodycontent %}
<h1>Upload Data</h1>
<form class="pure-form">
  <fieldset class="pure-group">
    <legend style="color:#FFFFFF">Upload Article</legend>
    <input id="articleTitle" type="text" class="pure-input-1" placeholder="Title">
    <input id="articleImage" type="text" class="pure-input-1" placeholder="Image Link">
    <textarea id="articleText" class="pure-input-1" placeholder="Text"></textarea>
  </fieldset>
  <button type="submit" class="pure-button pure-input pure-button-primary">Submit</button>
</form>
<br>
<form class="pure-form pur-form-stacked">
  <fieldset>
    <legend style="color:#FFFFFF">Add New Player</legend>

    <input id="playerFirst" type="text" placeholder="First Name">

    <input id="playerLast" type="text" placeholder="Last Name">

    <input id="playerNumber" type="number" placeholder="Number">

    <input id="playerWeight" type="number" placeholder="Weight">

    <label for="playerHeightFeet">Height</label>
    <select id="playerHeightFeet">
      <option>2'</option>
      <option>3'</option>
      <option>4'</option>
      <option>5'</option>
      <option>6'</option>
      <option>7'</option>
      <option>8'</option>
    </select>
    <select id="heightInches">
      <option>0"</option>
      <option>1"</option>
      <option>2"</option>
      <option>3"</option>
      <option>4"</option>
      <option>5"</option>
      <option>6"</option>
      <option>7"</option>
      <option>8"</option>
      <option>9"</option>
      <option>10"</option>
      <option>11"</option>
      <option>12"</option>
    </select>

    <label for="playerBats">Bats</label>
    <select id="playerBats">
      <option>R</option>
      <option>L</option>
      <option>S</option>
    </select>

    <label for="playerThrows">Throws</label>
    <select id="playerThrows">
      <option>R</option>
      <option>L</option>
    </select>

    <label for="playerPosition">Position</label>
    <select id="playerPosition">
      <option>P</option>
      <option>C</option>
      <option>1B</option>
      <option>2B</option>
      <option>3B</option>
      <option>SS</option>
      <option>LF</option>
      <option>CF</option>
      <option>RF</option>
      <option>OF</option>
      <option>IF</option>
      <option>DH</option>
    </select>

    <label for="playerPosition2">Secondary Position</label>
    <select id="playerPosition2">
      <option>NA</option>
      <option>P</option>
      <option>C</option>
      <option>1B</option>
      <option>2B</option>
      <option>3B</option>
      <option>SS</option>
      <option>LF</option>
      <option>CF</option>
      <option>RF</option>
      <option>OF</option>
      <option>IF</option>
      <option>DH</option>
    </select>
  </fieldset>
  <button type="submit" class="pure-button pure-input pure-button-primary">Submit</button>
</form>
<br>
<form class="pure-form">
  <fieldset>
    <legend style="color:#FFFFFF">Enter Game Info</legend>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Pos</th>
          <th>PA</th>
          <th>AB</th>
          <th>R</th>
          <th>H</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>BB</th>
          <th>SO</th>
          <th>SB</th>
          <th>CS</th>
          <th>HBP</th>
          <th>LOB</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding:0px;">
            <select id="gamePlayerName">
            <option>None</option>
            {% for player in players %}<option>{{ player }}</option>{% endfor %}
            </select>
          </td>
          <td style="padding:0px;"><input id="pos" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="PA" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="AB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="R" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="H" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="2B" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="3B" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="HR" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="RBI" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="BB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="SO" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="SB" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="CS" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="HBP" type="number" style="width:100%"></td>
          <td style="padding:0px;"><input id="LOB" type="number" style="width:100%"></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</form>
{% endblock bodycontent %}
